name: CI - PHP Build & Basic Checks

on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "8.2"

    - name: Install PHP Extensions
      run: sudo apt-get install -y php-mysql

    - name: Validate PHP Syntax
      run: |
        find app -name "*.php" -print0 | xargs -0 -n1 php -l

    - name: Build Docker Image
      run: docker build -t php-app -f app/Dockerfile app
